* {
  margin: 0;
}

body {
  background-color: #16152b;
}
.form-container {
  display: grid;
}
#first-form,
#second-form,
#third-form {
  grid-area: 1/1;
}

form {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  display: flex;
}

.firstname,
.lastname {
  display: flex;
  flex-direction: column;
  width: 500px;
}

input[id="firstname"] {
  margin-right: 10px;
  margin-top: 5px;
}

input[id="lastname"],
summary {
  margin-top: 5px;
}

.form {
  background-color: #16152b;
  // height: 100vh;
}
.form-field {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.form-control {
  margin-top: 2rem;
}
.select {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 0.7rem;
  margin-top: 1rem;
}

input,
select,
summary {
  border: 2px solid #3917cd;
  background-color: transparent;
  border-radius: 8px;
  padding: 1rem;
}

::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
  margin-top: 1rem;
}

button {
  background-color: #c6f6bf;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
  height: 40px;
  text-align: center;
}

.firststep,
.secondstep {
  width: 700px;
  margin-left: 10rem;
  margin-right: auto;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

details[open] {
  background-color: #f4b996;
  width: 700px;
  border-radius: 10px;
  padding: 0.8rem;
}
details[open] label {
  color: #3917cd;
}

.processbar {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

#Layer_3,
#Layer_5 {
  fill: none;
}
