* {
  margin: 0;
}

.txt {
  background-color: #16152b;
}

form {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  display: flex;
}

.firstname,
.lastname {
  display: flex;
  flex-direction: column;
  width: 500px;
}

input[id="firstname"] {
  margin-right: 10px;
  margin-top: 5px;
}

input[id="lastname"] {
  margin-top: 5px;
}

.form {
  background-color: #16152b;
  // height: 100vh;
}
.form-field {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#first-form label {
  margin-bottom: 8px;
  margin-top: 15px;
}

input,
select,
summary {
  border: 2px solid #3917cd;
  background-color: transparent;
  border-radius: 5px;
  height: 40px;
}

button {
  background-color: #c6f6bf;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
  height: 40px;
}

.hidden {
  visibility: hidden;
}

details[open] {
  background-color: #f4b996;
  width: 18rem;
  border-radius: 10px;
  padding: 0.8rem;
}
details[open] label {
  color: #3917cd;
}

.processbar {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

#Layer_3 {
  fill: none;
}
