@font-face {
  font-family: "Shapiro-bold";
  src: url("typography/sharpiro-bold.woff2");
}

@font-face {
  font-family: "Shapiro-regular";
  src: url("typography/sharpiro-regular.woff2");
}

@font-face {
  font-family: "Uniform-pro-black";
  src: url("typography/uniform-pro-con-black.woff2");
}

@font-face {
  font-family: "Uniform-pro-medium";
  src: url("typography/uniform-pro-con-medium.woff2");
}

label {
  font-family: "Shapiro-regular";
  font-size: 0.9rem;
  color: white;
}

::placeholder {
  font-family: "Shapiro-regular";
  font-size: 0.6rem;
  color: white;
}

input {
  color: white;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

button {
  font-family: "Shapiro-bold";
  color: #3917cd;
}

h1 {
  font-family: "Uniform-pro-black";
  padding: 50px 50px 0px 50px;
  font-size: 2.5rem;
}

p {
  font-family: "Shapiro-regular";
  padding: 20px 200px 20px 200px;
}

h1,
p {
  color: #f4b996;
  text-align: center;
}
